html {
  background-color: #FBC900;
}

body {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #FBC900;
  height: fit-content;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  max-width: 1200px;
  border-radius: 50px;
  box-sizing: border-box;
  position: relative;
  margin: 20px auto;
}

/* ==== Layout Boxes ==== */
.box-1 {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
  margin-top: 50px;
  border: 2px solid grey;
}

.box-2 {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  border: 2px solid grey;
  border-top: 0px;
}

.box-2-inside {
  margin: auto;
}

.box-3 {
  width: 100%;
  padding: 20px;
  background: #fff;
  margin: 0 auto;
  border-right: 2px solid grey;
  border-left: 2px solid grey;
  overflow: hidden;
}

.box-4 {
  width: 100%;
  margin: 0 auto;
  border: 2px solid grey;
  border-top: none;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

/* ==== Text Elements ==== */
p {
  text-align: left;
  font-family: 'Montserrat';
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 35px;
}

.h2-month {
  padding-top: 10px;
}
